body {
    margin-top: 30px;
}

#main-area {
    width: 600px;
    margin: auto;    
    padding: 30px;
}

#converter {
    border-top: solid 0.5px #ccc;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 50%), 
    inset 0px -3px 3px rgb(0 0 0 / 50%), 
    inset 0px 3px 3px rgb(255 255 255);
}

#course {
    border-top: solid 0.5px #ccc;
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 50%), 
    inset 0px -3px 3px rgb(0 0 0 / 50%), 
    inset 0px 3px 3px rgb(255 255 255);
}

#converter-min {
    justify-content: center;
    display: flex;
}

.convert {
    display: block;
    margin: 0 20px 0 20px;
}

select {
    margin: auto;
    display: block;
    width: 200px;
    height: 40px;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Geometria, sans-serif;
    cursor: pointer;
    color: #424242;
}

select:hover {
    border: 1px solid rgba(0, 200, 60, 0.7);
}

option {
    height: 50px;
}

input {
    text-align: center;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: Geometria, sans-serif;
    color: #424242;
    border: solid 1px #ccc;
    box-sizing: border-box;
    outline: none;
}

img {
    width: 30px;
    height: 25px;
}

h1 {
    margin: 0 0 10px 0;
    color: rgb(0, 200, 60);
    font-size: 20px;
    font-family: Geometria, sans-serif;
    font-weight: 100;
}

tbody {
    display: block;
    width: 100%
}

#default-table-finance {
    width: 100%;
    border: solid 1px #ccc;
    padding: 0;
    border-collapse: collapse;
}

thead {
    width: 100%;
}

#default-table-finance tr {
    display: flex;
    width: 100%;
}

#default-table-finance td {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-family: Geometria, sans-serif;
    color: #424242;
    border-right: solid 0.5px #ccc;
    border-left: solid 0.5px #ccc;
    padding: 7px 0 7px 0;
}

#default-table-finance th {
    width: 33%;
    height: 30px;
    background-color: #ccc;
    border: solid 0.5px rgb(190, 190, 190);
    padding: 10px 0 0 0;
    font-family: Geometria, sans-serif;
    font-size: 18px;
    color: #424242;
}

#default-table-finance n {
    padding-top: 3px;
    padding-left: 5px;
}